// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #212741;
$brand-secondary:				#2D3657;
$brand-light:						#D8CFC6;
$brand-highlight:				#52A697;
$brand-red-border:			#a94442;

$font-color:						#777777;
$font-color-light:			#F4F4F4;
$white:									#ffffff;

$kon-tiki:							"kon-tiki-aloha-jf";
$korolev:								"korolev";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transparentBG($opacity) {
	background: #212741;
	background: rgba(33, 39, 65, $opacity);	
}