@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?lxtsn8');
    src:    url('../fonts/icomoon.eot?lxtsn8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?lxtsn8') format('truetype'),
        url('../fonts/icomoon.woff?lxtsn8') format('woff'),
        url('../fonts/icomoon.svg?lxtsn8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ico-social-setup:before {
    content: "\e900";
}
.icon-ico-social-post:before {
    content: "\e901";
}
.icon-ico-spotlight:before {
    content: "\e902";
}
.icon-ico-pen-paper:before {
    content: "\e903";
}
.icon-ico-website:before {
    content: "\e904";
}
.icon-ico-hosting:before {
    content: "\e905";
}
.icon-ico-domain:before {
    content: "\e906";
}
.icon-ico-research:before {
    content: "\e907";
}
.icon-ico-trailer:before {
    content: "\e908";
}
.icon-ico-proceeds:before {
    content: "\e909";
}
.icon-ico-barcode:before {
    content: "\e90a";
}
.icon-ico-fund:before {
    content: "\e90b";
}
.icon-ico-press:before {
    content: "\e90c";
}
.icon-ico-press-release:before {
    content: "\e90d";
}
.icon-ico-microphone:before {
    content: "\e90e";
}
.icon-ico-hand-book:before {
    content: "\e90f";
}
.icon-ico-isbn:before {
    content: "\e910";
}
.icon-ico-group-a:before {
    content: "\e911";
}
.icon-ico-group-b:before {
    content: "\e912";
}
.icon-ico-writing:before {
    content: "\e600";
}
.icon-ico-conversion:before {
    content: "\e601";
}
.icon-ico-layout:before {
    content: "\e602";
}
.icon-ico-launch60:before {
    content: "\e603";
}
.icon-ico-cover-design:before {
    content: "\e604";
}
.icon-ico-publishing:before {
    content: "\e605";
}
.icon-ico-copyright:before {
    content: "\e606";
}
.icon-ico-map:before {
    content: "\e607";
}
.icon-ico-launchpad-1:before {
    content: "\e608";
}
.icon-ico-settings:before {
    content: "\e609";
}
.icon-ico-marketing:before {
    content: "\e60a";
}
.icon-ico-distribution:before {
    content: "\e60b";
}
.icon-ico-book-review:before {
    content: "\e60c";
}
.icon-ico-conversion-2:before {
    content: "\e60d";
}
.icon-ico-print-books:before {
    content: "\e60e";
}
.icon-ico-crowdfunding:before {
    content: "\e60f";
}
.icon-ico-packages:before {
    content: "\e610";
}
.icon-ico-illustrations:before {
    content: "\e611";
}
.icon-ico-launchpad-2:before {
    content: "\e618";
}
.icon-ico-website-design:before {
    content: "\e619";
}
.icon-ico-social-media:before {
    content: "\e61a";
}
.icon-ico-booktrailer:before {
    content: "\e61b";
}
.icon-ico-editing:before {
    content: "\e61c";
}
.icon-ico-bf:before {
    content: "\e800";
}
.icon-ico-package-boost:before {
    content: "\e913";
}
.icon-ico-package-web:before {
    content: "\e914";
}
.icon-ico-package-marketing:before {
    content: "\e915";
}
.icon-ico-package-boost-jr:before {
    content: "\e916";
}


