.woocommerce-account {
	
	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-co1ntent {
		float: none;
		width: 100%;
	}
	
	.woocommerce-MyAccount-content {
		fieldset {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.helper {
			margin-bottom: 20px;
			border-top: 1px solid $brand-light;
			padding-top: 20px;
			h4 {
				margin: 0 15px 10px;
			}
		}
		
	}

	

	.woocommerce-MyAccount-navigation {

		ul {
			list-style: none;
			padding-left: 0;
			@extend .list-group;
			
			li {
				@extend .list-group-item;
				
				&.is-active {
					background: $brand-primary;
					a {
						color: #fff;
					}
				}
				
				a {
					display: block;
					
					&:hover {
						text-decoration: none;
					}
				}
				
			}
			
		}

		.woocommerce-MyAccount-navigation-link--downloads,
		.woocommerce-MyAccount-navigation-link--customer-logout {
			display: none;
		}

	}

}


.woocommerce {
	.woocommerce-Message,
	.woocommerce-message {
		a.button {
			display: none;
		}
	}

	
	.myAccount {
		margin-top: 20px;
	}
	
	.dash-aside {
		h3 {
			color: $brand-primary;
			font-weight: 300;
			margin-bottom: 15px;
		}
		.textwidget {
			margin-bottom: 15px;
		}
		.widget_nav_menu {
			ul {
				list-style: none;
				padding-left: 0;
				margin-bottom: 15px;
				
				li {
					margin-bottom: 10px;
					
					a {
						display: block;
						text-align: center;
					}
					
					&:first-child {
						a {
							@extend .btn;
							@extend .btn-lg;
							@extend .btn-primary;
							@extend .btn-block;
		
						}
					}
				}
				
				
			}
		}
	}
	
	form {
		.form-row {
			padding: 0;
			margin: 0;
			input[type="submit"] {
				@extend .btn;
				@extend .btn-primary;
				margin-top: 30px;
			}
		}
	}
	
	div.images, .onsale {
		display: none;
	}
	
	div.product {
		margin-top: 50px;
		
		div.summary {
			float: none;
			width: auto;
			max-width: 600px;
			margin: 0 auto;
			padding: 30px;
			-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
			box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
			position: relative;
			
			&:before,
			&:after {
				content: '';
				background: $brand-light;
				width: 100%;
				height: 5px;	
				position: absolute;
				left: 0;		
			}
			
			&:before {
				top: 1px;
			}
			&:after {
				bottom: 1px;
			}


			h1 {
				margin: 0 10px;
				float: left;
				font-size: 26px;
			}
			
			div[itemprop="offers"] {
				float: right;
				
				p.price {
					color: $brand-highlight;
					font-weight: 700;
					font-size: 26px;
					margin-bottom: 0;
					line-height: 1.1;
				}
			}

			div[itemprop="description"] {
				clear: both;
				border-bottom: 1px solid $brand-light;
				padding-bottom: 15px;
				padding-top: 15px;
			}
						
		}
		
		form.cart {
			margin-top: 20px;
			margin-bottom: 0;
			overflow: hidden;
			
			button[type="submit"] {
				margin-left: 10px;
			}
		}
	}
	
	form.login {
		max-width: 400px;
		margin: 50px auto 0;
		padding: 30px;
		-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
		position: relative;
		@include border-radius(0px);
		
		&:before,
		&:after {
			content: '';
			background: $brand-light;
			width: 100%;
			height: 5px;	
			position: absolute;
			left: 0;		
		}
		
		&:before {
			top: 1px;
		}
		&:after {
			bottom: 1px;
		}
		
		.form-row {
			margin-top: 30px;
			text-align: center;
			input.button {
				@extend .btn;
				@extend .btn-primary;
				margin-right: 10px;
			}
			label[for="rememberme"] {
				font-weight: 300;
				font-size: 12px;
			}
		}
		.woocommerce-FormRow {
			margin-top: 10px;
			text-align: left;
		}
		p.woocommerce-LostPassword {
			text-align: center;
			margin-top: 15px;
			font-size: 12px;
		}
	
	}
	
	
}

body {
	
	&.my-account {
		.page-header {
			display: none;
		}
		.woocommerce {
			h2 {
				display: none;
			}
		}
	}
	
	&.logged-in.my-account {
		.page-header {
			display: block !important;
		}
	}
	
}


div.product-addon {
	margin: 0 0 20px;

	h3, p, p.form-row {
		margin: 0 10px;
	}
	h3 {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 5px;
		
		abbr[title] {
			border-bottom: none;
		}
		abbr.required {
			color: $brand-red-border;
		}
		
	}
	p {
		font-size: 12px;
		
		&:last-child {
			margin-bottom: 10px;
		}
	}
	
/*
	&.product-addon-book-title,
	&.product-addon-amazon-book-url
*/
	
	&.product-addon-book-title,
	&.product-addon-genre,
	&.product-addon-url-for-your-print-book-in-amazon,
	&.product-addon-url-for-your-ebook-in-amazon {
		width: 100%;
		
		@media (min-width: $screen-sm-min) {
			width: 50%;
			float: left;
		}
		
	}
	
	&.product-addon-my-books-status-in-the-amazon-store-is,
	&.product-addon-how-fast-do-you-want-your-book-review-delivered {
		clear: both;
	}
	
	&.product-addon-what-format-is-your-book-in {
		clear: both;
		
		border-bottom: 1px solid $brand-light;
		padding-bottom: 15px;
				
		p.form-row {
			width: auto;
			display: inline-block;
			label {
				margin-bottom: 0;
			}
			
		}
	}

	&.product-addon-how-fast-do-you-want-your-book-review-delivered {
			.form-row {
				select {
					width: 140px;
					display: inline;
				}
				&:before {
					content: 'I pledge to deliver my review within ';
					margin-right: 5px;
				}
				&:after {
					content: ' of receiving my assignment';
					margin-left: 5px;
				}
				&:before, &:after {
					display: inline-block;
				}
			}
	}
	
	&.product-addon-url-for-your-print-book-in-amazon,
	&.product-addon-url-for-your-ebook-in-amazon {
		display: none;
		overflow: hidden;
		
		&.open {
			display: block;
		}
		
	}
	
} 



body.request-a-review-match {
	div.product-addon {
		&.product-addon-book-title,
		&.product-addon-amazon-book-url {
			width: 100%;
			
			@media (min-width: $screen-sm-min) {
				width: 50%;
				float: left;	
			}
			
		}
		&.product-addon-my-book-is-available-as {
			p.form-row {
				display: inline-block;
			}
		}
	}
}

form.checkout {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	.col-1 {
		float: none !important;
		width: 100% !important;
		margin-bottom: 30px;
	}
	.col-2 {
		display: none;
	}
}

#coupon_code {
	min-width: 200px;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	@extend .btn;
	@extend .btn-primary;
		
}


.woocommerce-cart {
	table.cart {
		th {
			vertical-align: top;
			padding: 10px 20px;
			
			&.product-price ,
			&.product-quantity,
			&.product-subtotal {
				text-align: center;
			}
			
		}
		td {
			vertical-align: top;
			padding: 20px;
			
			&.product-name {
				h3 {
					margin-bottom: 10px;
				}
				h5 {
					margin-bottom: 0;
				}
				p {
					margin: 0 0 10px;
					padding: 0;
					font-size: 12px;
				}
			}
			
			&.product-price,
			&.product-quantity,
			&.product-subtotal {
				text-align: center;
				font-weight: 700;
				font-size: 20px;
				color: $brand-secondary;
			}
			
			&.product-subtotal {
				color: $brand-highlight;
			}
			
		}
	}
}

.woocommerce-account .woocommerce-MyAccount-content {
	float: none;
	width: 100%;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea {
	line-height: 1.5em;
}

p.order-again {
	display: none;
}
