.jumbotron {
	background-color: $brand-secondary;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0px;
	
	h1 {
		color: #F4F4F4;
		font-size: 40px;
		
		@media (min-width: $screen-sm-min) {
			font-size: 56px;
		}
	}
	
	p {
		color: $font-color-light;
		font-weight: 300;
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 2em;
	}
	
}