header.banner {
	padding: 12px 0;
	margin-bottom: 2px;
	position: absolute;
	width: 100%;
	z-index: 20;
	background: rgb(255,255,255);
	background: rgba(255,255,255,.8);
}

nav.nav-primary,
nav.nav-user {
	
	padding: 14px 0;
	
	ul {
		li {
			display: inline-block;
			a {
				padding: 0;
				display: block;
				
				
				&:hover {
					color: $brand-highlight;
					background: transparent;
				}
				
				&.btn-primary {
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}

nav.nav-user {
	padding: 9px 0;
	ul {
		li {
			margin-left: 6px;
			
			&:first-child {
				margin-left: 0;
			}
			a {
				padding: 5px;
				font-size: 11px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 14px 0;
		ul {
			li {
				margin-left: 0;
				a {
					padding: 10px 15px;
					font-size: 14px;
				}
			}
		} 
	}
	
}

nav.nav-primary {
	clear: left;
	width: 100%;
	padding: 12px 0 0;
	border-top: 1px solid $brand-light;
	margin-top: 12px;
	ul {
		
		li {
			width: 33.3333%;
			float: left;
			
			a {
				text-align: center;
			}
			
		}
		
	}
	
	@media (min-width: $screen-sm-min) {
		clear: none;
		width: auto;
		padding: 14px 0;
		margin-top: 0;
		border-top: none;
		ul {
			li {
				width: auto;
				float: none;
				a {
					padding: 10px 15px;
				}
			}
		}	
	}
	
}

a.brand {
	float: left;
	font-size: 24px;
	line-height: 24px;
	margin-right: 10px;
	text-align: right;
	text-transform: uppercase;
	font-weight: 700;
	color: $brand-secondary;
	padding-top: 12px;
	
	@media (min-width: $screen-sm-min) {

	}
	
	span {
		display: block;
		color: $brand-highlight;
	}
		
	&:hover {
		text-decoration: none;
	}
		
}